header {
    float: right;
    padding-top: 25px;
    font-style: "Roboto";
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
}

#c {
    width: 450px;
    line-height: 30px;
    padding: 20px 20px;
    border-radius: 20px;
}

.form #c {
    padding: 0 8px;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
}


/*
.languages {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding: 20px 10px;
}

.languages a {
    text-decoration-color: mediumblue;
}
*/

footer {
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 10px;
}

footer ul a:hover {
    text-decoration: underline;
}

.f-right {
    float: right;
    margin: auto;
    padding-top: 10px;
}

.f-left {
    text-align: left;
    margin: auto;
    padding-top: 10px;
}